bin
htdocs
node_modules
acl.d
menu.d
po/titles.js
po/juci_all_strings.pot
po/all.pot
po/titles.pot
po/template.pot
po/*.mo
*.so
*.o
*.swp
juci/build 
backend/**/build
plugins/**/files
plugins/**/build
services/**/build
*~
Makefile.local
