config 'login' 'login'      
	option 'showusername' '1'
	option 'defaultuser' 'admin' 

config 'localization' 'localization'
	option default_language 'se'
	list languages 'en'
	list languages 'se'

config menu
	option path "overview"
	option page "overview"

config menu
	option path "phone"
	option page "phone"
	option redirect "phone-call-log"
	option acls "juci-telephony"

config menu
	option path "phone/calllog"
	option page "phone-call-log"
	option acls "juci-asterisk"

config menu
	option path "phone/number_blocking"
	option page "phone-number-blocking"
	option acls "juci-asterisk"
	option modes "expert"

config menu
	option path "phone/ringing_schedule"
	option page "phone-ringing-schedule"
	option acls "juci-asterisk"
	option modes "expert"

config menu
	option path "phone/numbers"
	option page "phone-numbers"
	option acls "juci-asterisk"
	option modes "expert"

config menu
	option path "phone/lines"
	option page "phone-lines"
	option acls "juci-asterisk"
	option modes "expert"

config menu
	option path "phone/speed_dialing"
	option page "phone-speed-dialing"
	option acls "juci-asterisk"
	option modes "expert"

config menu
	option path "phone/dect"
	option page "phone-dect"
	option acls "juci-natalie-dect"

config menu
	option path "internet"
	option page "network"
	option redirect "internet-ethernet"

config menu
	option path "internet/ethernet"
	option page "internet-ethernet"
	option acls "juci-network-netifd"

config menu
	option path "internet/ethernet/phy"
	option page "page-broadcom-ethernet-phy"
	option acls "juci-broadcom-ethernet"

config menu
	option path "internet/ethernet/adsl"
	option page "page-broadcom-adsl"
	option acls "juci-broadcom-dsl"

config menu
	option path "internet/ethernet/vdsl"
	option page "page-broadcom-vdsl"
	option acls "juci-broadcom-dsl"

config menu
	option path "internet/ethernet/wifi"
	option page "wireless-interfaces"
	option acls "juci-broadcom-wl"

config menu
	option path "internet/ethernet/vlan"
	option page "page-broadcom-ethernet-vlan"
	option acls "juci-broadcom-vlan"

config menu
	option path "internet/network"
	option page "internet-network"
	option acls "juci-network-netifd"

config menu
	option path "internet/routes"
	option page "internet-routes"
	option acls "juci-network-netifd"

config menu
	option path "internet/firewall"
	option page "internet-firewall"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/zones"
	option page "internet-firewall-zones"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/rules"
	option page "internet-firewall-rules"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/forwarding"
	option page "internet-firewall-forwarding"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/urlblock"
	option page "internet-firewall-urlblock"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/wordfilter"
	option page "internet-firewall-wordfilter"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/svcfilter"
	option page "internet-firewall-svcfilter"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/firewall/port_mapping"
	option page "internet-firewall-port-mapping"
	option acls "juci-firewall-fw3"
	option modes "expert"

config menu
	option path "internet/firewall/dmz"
	option page "internet-firewall-dmz"
	option acls "juci-firewall-fw3"
	option modes "expert"

config menu
	option path "internet/parental_control"
	option page "internet-parental-control"
	option acls "juci-firewall-fw3"

config menu
	option path "internet/multiwan"
	option page "internet-multiwan"
	option acls "juci-inteno-multiwan"

config menu
	option path "internet/services"
	option page "internet-services"
	option acls "juci-network-netifd"

config menu
	option path "internet/services/minidlna"
	option page "internet-services-minidlna"
	option acls "juci-minidlna"

config menu
	option path "internet/services/ntp"
	option page "internet-services-ntp"
	option acls "juci-mod-system"

config menu
	option path "internet/services/upnp"
	option page "upnpd-settings"
	option acls "juci-upnp"

config menu
	option path "internet/services/ddns"
	option page "internet-services-ddns"
	option acls "juci-ddns"

config menu
	option path "internet/services/samba"
	option page "internet-services-samba"
	option acls "juci-samba"

config menu
	option path "wifi"
	option page "wireless"
	option redirect "wireless-general"

config menu
	option path "wifi/general"
	option page "wireless-general"

config menu
	option path "wifi/general/devices"
	option page "wireless-devices"

config menu
	option path "wifi/general/interfaces"
	option page "wireless-interfaces"

config menu
	option path "wifi/general/clients"
	option page "wireless-clients"

config menu
	option path "wifi/schedule"
	option page "wireless-schedule"

config menu
	option path "wifi/wps"
	option page "wireless-wps"

config menu
	option path "wifi/mac_filter"
	option page "wireless-filtering"
	option modes "expert"

config menu
	option path "wifi/client"
	option page "wireless-client-mode"
	option acls "juci-broadcom-wl"

config menu
	option path "settings"
	option page "system"
	option redirect "settings-system"

config menu
	option path "settings/system"
	option page "settings-system"
	option acls "juci-mod-system"

config menu
	option path "settings/password"
	option page "settings-password"
	option acls "juci-mod-system"

config menu
	option path "settings/upgrade"
	option page "settings-upgrade"
	option acls "juci-sysupgrade"

config menu
	option path "settings/upgrade/options"
	option page "settings-upgrade-options"
	option acls "juci-sysupgrade"

config menu
	option path "settings/configuration"
	option page "settings-configuration"
	option acls "juci-mod-system"

config menu
	option path "settings/management"
	option page "settings-management"
	option acls "juci-mod-system"

config menu
	option path "settings/management/dropbear"
	option page "settings-management-dropbear"
	option acls "juci-dropbear"

config menu
	option path "settings/management/uhttpd"
	option page "page-uhttpd-settings"
	option acls "juci-uhttpd"

config menu
	option path "settings/management/services"
	option page "internet-firewall-services"
	option acls "juci-firewall-fw3"

config menu
	option path "settings/services"
	option page "settings-services"
	option acls "juci-mod-system"

config menu
	option path "status"
	option page "status"
	option redirect "status-system"

config menu
	option path "status/system"
	option page "status-system"
	option acls "juci-mod-system"

config menu
	option path "status/system/processes"
	option page "status-system-processes"
	option acls "juci-mod-system"

config menu
	option path "status/tv"
	option page "status-tv"
	option acls "juci-igmpsnoop"

config menu
	option path "status/wifi"
	option page "wireless-status"
	option acls "juci-broadcom-wl"

config menu
	option path "status/dsl"
	option page "page-broadcom-dsl-status"
	option acls "juci-broadcom-dsl"

config menu
	option path "status/usb"
	option page "status-usb"
	option acls "juci-usb"

config menu
	option path "status/network"
	option page "status-network"
	option acls "juci-network-netifd"

config menu
	option path "status/network/clients"
	option page "netifd-status-clients"
	option acls "juci-network-netifd"

config menu
	option path "status/network/routes"
	option page "status-network-routes"
	option acls "juci-network-netifd"

config menu
	option path "status/network/upnpd"
	option page "upnpd-status"
	option acls "juci-upnp"

config menu
	option path "status/network/nat"
	option page "status-network-nat"
	option acls "juci-network-netifd"

config menu
	option path "status/diagnostics"
	option page "status-diagnostics"
	option acls "juci-diagnostics"

config menu
	option path "status/phone"
	option page "status-phone"
	option acls "juci-asterisk"

config menu
	option path "status/events"
	option page "status-events"
	option modes "expert"

config menu
	option path "status/restart"
	option page "status-restart"

config menu
	option path "status/about"
	option page "status-about"

