<luci-layout-with-sidebar>
	<div ng-controller="PhoneLines">
		<luci-config-section>
			<luci-config-heading>{{ 'Phone Lines' | translate }}</luci-config-heading>
			<luci-config-info>{{ 'phone.lines.info' | translate }}</luci-config-info>
			<luci-expandable title="{{line.name.value}}" ng-repeat="line in phone_lines track by $index">
				<luci-config-lines>
					<luci-config-line title="Name">
						<input type="text" class="form-control" ng-model="line.name.value"/>
					</luci-config-line>
					<luci-config-line title="Internal Number">
						{{line.extension.value}}
					</luci-config-line>
					<luci-config-line title="Outgoing Calls Number">
						<luci-select ng-model="line.sip_account.value" ng-items="allSipAccounts" placeholder="{{'Pick Outgoing Number'|translate}}"/>
					</luci-config-line>
					<luci-config-line title="Call Waiting">
						<switch ng-model="line.callwaiting.value" class="green"/>
					</luci-config-line>
					<luci-config-line title="Call ID Restriction">
						<switch ng-model="line.clir.value" class="green"/>
					</luci-config-line>
				</luci-config-lines>
			</luci-expandable>
		</luci-config-section>
		<luci-config-apply/>
	</div>
</luci-layout-with-sidebar>
