<juci-layout-with-sidebar>
	<div ng-controller="WifiGeneralPageCtrl">
		<juci-config-section>
			<juci-config-heading>{{ 'General WiFi Settings' | translate }}</juci-config-heading>
			<juci-config-info>{{ 'wifi.general.info' | translate }}</juci-config-info>
		</juci-config-section>
		<div ng-hide="status">
			<i class="fa fa-spinner fa-spin fa-2x"></i>
		</div>
		<div ng-show="status">
			
			<juci-config-section>
				<div class="alert alert-warning" ng-show="status.schedule.value">
					<p translate>You have wifi-scheduling enabled. This means that your wifi will be automatically turned on and off based on your schedule settings</p>
				</div>
				<juci-config-lines>
					<juci-config-line title="{{'Wifi Network'|translate}}" ng-show="status.schedule.value">
						<a href="#!wifi-schedule"><strong>{{'Scheduled'|translate}}</strong></a>
					</juci-config-line>
					<juci-config-line title="{{'Wifi Network'|translate}}" ng-hide="status.schedule.value">
						<switch ng-model="status.wlan.value" class="green" ng-change="onApply"></switch>
					</juci-config-line>
					<juci-config-line ng-show="boardpanel" title="{{'Enable WiFi On/Off button on EasyBox'|translate}}">
						<switch ng-model="boardpanel.settings.wifibutton.value" class="green" ng-change="onApply"></switch>
					</juci-config-line>
				</juci-config-lines>
			</juci-config-section>
			<juci-config-section ng-show="status.wlan.value">
				<juci-config-heading>{{ 'Setup' | translate }}</juci-config-heading>
				<p translate>wifi.general.setup.info</p>
				<br/>
				<div class="alert alert-info" ng-show="info">
					<p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{info}}</p>
				</div>
				<div class="row" ng-repeat="iface in interfaces">
					<div class="col-md-12" >
						<uci-wireless-interface ng-model="iface"></uci-wireless-interface>
					</div>
				</div>
			</juci-config-section>
			<juci-errors></juci-errors>
			<juci-config-apply></juci-config-apply>
		</div>
	</div>
</juci-layout-with-sidebar>
