<div>
	<div class="row" >
		<div class="col-xs-9">
			<div class="list-group" >
				<a href="" class="list-group-item" ng-repeat="i in items track by $index" ng-click="onListEditItem(i)" ng-class="{active: item == i}">{{getItemTitle({"$item": i})}}</a>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="btn-group-vertical" style="width: 100%;" >
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable}" translate>Delete</button>
			</div>
		</div>
	</div>
	<div ng-show="item">
		<div dynamic="dynamicHtml"/>
	</div>
</div>
