<div>
	<div class="btn-group" style="white-space: nowrap;">
		<button class="btn btn-default dropdown-toggle button-label" 
			style="background-color: #fff !important; border-bottom-right-radius: 0px; border-top-right-radius: 0px; display: inline-block; float:none; " 
			data-toggle="dropdown">{{(selected.label || placeholder )}}</button><button 
			class="btn btn-default dropdown-toggle" 
			style="background-color: #fff !important; display: inline-block; float:none;" 
			data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu" style="max-height: 300px; overflow: auto">
			<li ng-repeat="item in ngItems"><a tabindex="-1" ng-click="select(item)" href="">{{item.label}}</a></li>
		</ul>
	</div>
</div>
