<nav class="juci-nav" >
	<ul class="left-menu">
		<li ng-repeat="item in tree.children_list" ng-show="itemVisible(item)">
			<a ng-class="item._class" target="_self" ng-click="onLinkClick(item)" ng-href="#!{{item.href}}">{{item.text | translate}}</a>
			<ul class="left-sub-menu" ng-show="item._open">
				<li ng-repeat="item2 in item.children_list" ng-show="itemVisible(item2)">
					<a ng-class="item2._class" target="_self" ng-click="onLinkClick(item2)" href="#!/{{item2.href}}">{{item2.text | translate}}</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
