<div class="container">
	<hr/>
	<div id="language-info" >
		<div id="language-switcher-list" >
			<span ng-repeat="lang in languages">
				<a style="text-decoration: {{isActiveLanguage(lang)?'underline':'none'}}; color: inherit;" href="" ng-click="setLanguage(lang)">{{lang.title|translate}}</a>{{$last ? '' : ' | '}}
			</span>
		</div>
		<div style="float: right;">
			<!--<juci-theme-picker></juci-theme-picker>-->
		</div>
		<div id="info">
			WAN IP Address: {{wanip}} | Firmware version: {{firmware}}
		</div>
		
	</div>
</div>
