<div>
	<div> 
		<i class="fa fa-spinner fa-spin fa-2x" ng-show="!items"></i>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="i in items track by $index">
				{{getItemTitle({"$item": i})}}
				<button aria-label="Left Align" type="button" class="btn btn-default btn-xs pull-right" 
					ng-click="onListRemoveItem(i)" ng-hide="hideButtons == 'true'">
					<i class="fa fa-close"></i>
				</button>
			</li>
		</ul>
		<div ng-hide="hideButtons == 'true'">
			<button class="btn btn-default pull-right" ng-click="onListAddItem()"><i class="fa fa-plus"></i></button>
			<ng-transclude style="float: right; padding-right:10px;max-width:84%"></ng-transclude>
		</div>
	</div>
	<div style="clear: both; margin-top: 10px;"></div>
	<div ng-show="item">
	</div>
</div>
