<div>
	<div class="row" ng-hide="item">
		<div class="col-xs-9">
			<div class="list-group" >
				<div class="list-group-item" ng-repeat="i in items" >
					<div class="btn-group pull-right">
						<button class="btn btn-default btn-xs" ng-click="onListEditItem(i)"><i class="fa fa-edit"/></button>
						<button class="btn btn-default btn-xs" ng-click="onListRemoveItem(i)"><i class="fa fa-trash "/></button>
					</div>
					{{i.name.value}}
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="btn-group-vertical" style="width: 100%;">
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" translate>Add</button>
			</div>
		</div>
	</div>
	<div ng-show="item">
		<div dynamic="dynamicHtml"/>
		<button class="btn btn-default" ng-click="onGoBack()">Back</button>
	</div>
</div>
