<div>
	<div ng-show="loggedIn">
		<p translate>You are logged in!</p>
		<button class="btn btn-success" ng-click="doLogout()" translate>Log out</button>
	</div>
	<form ng-hide="loggedIn" class="form-signin" ng-model="form">
		<h2 class="form-signin-heading" translate>Please sign in</h2>
		<div class="alert alert-danger" ng-show="errors.length">
			<ul>
				<li ng-repeat="item in errors track by $index">{{item}}</li>
			</ul>
		</div>
		<div class="form-group" ng-show="showHost">
			<label class="sr-only" translate>Host</label>
			<input ng-model="form.host" type="text" class="form-control" placeholder="Router IP">
		</div>
		<div class="form-group" ng-show="showlogin">
			<label for="inputEmail"  class="sr-only" translate>Username</label>
			<input ng-model="form.username" type="text" id="inputEmail" class="form-control" placeholder="{{'Username'|translate}}" required autofocus>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="sr-only" translate>Password</label>
			<input ng-model="form.password" type="password" id="inputPassword" class="form-control" placeholder="{{'Password'|translate}}" required>
		</div>
		<!--<div class="checkbox">
			<label>
				<input ng-model="form.remember" type="checkbox" value="remember-me" translate> Remember me
			</label>
		</div>-->
		<button ng-click="doLogin()" class="btn btn-lg btn-primary btn-block" type="submit" translate>Sign in</button>
	</form>
</div>
