<div class="row" ng-class="{'field-error': validateTimespan(data.from+'-'+data.to) || validateTime(data.from) || validateTime(data.to)}" data-toggle="tooltip" data-placement="top" title="{{model.error}}">
	<div class="col-xs-2">
		<label translate>from</label>
	</div>
	<div class="col-xs-4">
		<input class="form-control" type="text" ng-model="data.from" placeholder="09:00" style="min-width: 40px !important"/>
	</div>
	<div class="col-xs-2">
		<label translate>to</label>
	</div>
	<div class="col-xs-4">
		<input class="form-control" type="text" ng-model="data.to" placeholder="09:00" style="min-width: 40px !important"/>
	</div>
</div>
