<div>
	<div style="max-height:300px;overflow:auto;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th translate>Type</th>
					<th translate>Config</th>
					<th translate>Section</th>
					<th translate>Option</th>
					<th translate>Old value</th>
					<th translate>New value</th>
					<th ng-hide="hideBtn"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in model.changes track by $index">
					<td>{{item.type|uppercase}}</td>
					<td>{{item.config|maxlength:30}}</td>
					<td>{{(item.section || "-")|maxlength:30}}</td>
					<td>{{item.option|maxlength:30}}</td>
					<td>{{item.ovalue|maxlength:30}}</td>
					<td>{{item.uvalue|maxlength:30}}</td>
					<td><span ng-click="onRevertOption($index)" style="cursor:pointer;"><i class="fa fa-trash"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
