<div>
	<div class="row"> 
		<div ng-class="{ 'col-xs-9': !hideButtons, 'col-xs-12': hideButtons }">
			<i class="fa fa-spinner fa-spin fa-2x" ng-show="!items"></i>
			<div ng-show="!sortable && items" class="list-group">
				<a href="" class="list-group-item" ng-repeat="i in items track by $index" ng-click="onListEditItem(i)" ng-class="{active: item == i}">{{getItemTitle({"$item": i})}}</a>
			</div>
			<div ng-show"sortable && items" class="list-group">
				<div class="list-group-item" ng-repeat="i in items track by $index" ng-class="{active: item == i}">
					<div class="btn-group pull-right">
						<button class="btn btn-default btn-xs" ng-click="onMoveUp(i)"><i class="fa fa-caret-up"></i></button>
						<button class="btn btn-default btn-xs" ng-click="onMoveDown(i)"><i class="fa fa-caret-down"></i></button>
					</div>
					<a href=""  ng-click="onListEditItem(i)" style="text-decoration: none !important; outline: 0; color: inherit; display: block; width: 100%;" >{{getItemTitle({"$item": i})}}</a>
				</div>
			</div>
		</div>
		<div ng-class="{ 'col-xs-3': !hideButtons }" ng-hide="hideButtons" >
			<div class="btn-group-vertical" style="width: 100%;" >
				<button class="btn btn-lg btn-default" ng-click="onListAddItem()" ng-class="{disabled: !editable || !items}" translate>Add</button>
				<button class="btn btn-lg btn-default" ng-click="onListRemoveItem(item)" ng-class="{disabled: item == null || !editable || !items}" translate>Delete</button>
			</div>
		</div>
	</div>
	<div style="clear: both; margin-top: 10px;"></div>
	<div ng-show="item">
		<div dynamic="dynamicHtml"/>
	</div>
</div>
