<div class="container">
	<hr/>
	<div id="language-info" >
		<div id="language-switcher-list" >
			<span ng-repeat="lang in languages">
				<a style="text-decoration: {{isActiveLanguage(lang)?'underline':'none'}}; color: inherit;" href="" ng-click="setLanguage(lang)">{{lang.title|translate}}</a>{{$last ? '' : ' | '}}
			</span>
		</div>
		<div style="float: right;">
			<!--<juci-theme-picker></juci-theme-picker>-->
		</div>
		<div id="info">
			WAN IP Address: <span ng-repeat="i in wanifs track by $index">{{i["ipv4-address"][0].address}} {{i["ipv6-address"][0].address}}</span> | Firmware version: {{firmware}}
		</div>
		
	</div>
</div>
