<nav class="luci-nav" >
	<ul class="left-menu">
		<li ng-repeat="item in tree.children_list" ng-show="itemVisible(item)">
			<a ng-class="[isItemActive(item)?'open':'', showSubMenuItems?'collapsed':'']" ng-href="#!{{item.href}}">{{item.text | translate}}</a>
			<ul class="left-sub-menu" ng-show="showSubMenuItems">
				<li ng-repeat="item2 in item.children_list">
					<a ng-class="isSubItemActive(item2)?'open':''" href="#!/{{item2.href}}">{{item2.text | translate}}</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
