<div class="row">
	<div class="col-xs-2 visible-sm"><button class="btn btn-sm btn-default pull-right" ng-click="onDecrease()"><i class="fa fa-arrow-circle-left "></i></button></div>
	<div class="col-xs-12 col-sm-8">
		<div ng-repeat="bar in bars" ng-click="onBarClick(bar)" style="width: 20%; float: left; height: 30px; background-color: #{{bar.color}};"></div>
	</div> 
	<div class="col-xs-2 visible-sm"><button class="btn btn-sm btn-default pull-left" ng-click="onIncrease()"><i class="fa fa-arrow-circle-right"></i></button></div>
</div>
