@font-face {
    font-family: "eurostyle";
    src: url("/fonts/eurostyle.woff") format('woff');
}

body {
	font-size: 16px;
}

div.logo {
	background-image: url('../img/iopsys_logo.png'); 
	background-size: 100% auto; 
	width: 189px; 
	height: 40px; 
}

.juci-nav a {
	color: #444; 
}

.juci-content {
	min-height: 1000px; 
}

.overview-banner {
	background: url("../img/family_web.jpg") repeat scroll center center !important;
	width: 100%; 
	height: 400px; 
	margin-bottom: 30px; 
}

.overview-box h3 {
	line-height: 40px;
	margin-left: 90px;
	font-family: eurostyle;
	font-weight: bold;
	text-transform: uppercase;
}

.overview-box .box-header {
	text-align: center; 
}

.overview-box .overview-circle {
	background-color: #009CFF;
	width: 80px;
	border-radius: 40px;
	height: 80px;
	box-shadow: 2px 2px 5px inset;
	float: left; 
	text-align: center;
	line-height: 110px;
}

.overview-status-box {
	background-color: rgba(0, 0, 0, 0.5); 
	color: white; 
	border-radius: 5px; 
	line-height: 35px; 
}

.top-navbar {
	color: #111 !important; 
	background: rgba(0,0,0,0);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.top-navbar .navbar-nav > li {
	font-family: "eurostyle";
	font-size: 1.1em;
	letter-spacing: 1px;
}

.top-navbar .navbar-nav > li > a {
	background-color: transparent; 
	padding-bottom: 8px !important; 
	padding-top: 8px !important; 
	color: #111 !important; 
}

.top-navbar .navbar-nav > .open > a, 
.top-navbar .navbar-nav > .open > a:hover {
	background-color: #eee; 
	color: #111 !important; 
	border-bottom: 2px solid red; 
}

.top-navbar .navbar-nav > .open > a:focus {
	background-color: transparent; 
}

.top-navbar .navbar-nav {
	margin-top: 20px; 
	margin-left: 30px; 
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

h3.detail-strong,
h4.detail-strong{
    color: #333;
    font-weight: bold;
}

h3.detail-strong {
    font-size: 1.5em;
}

h4.detail-strong {
    font-size: 1.2em;
}

.navbar.transparent.navbar-inverse .navbar-inner {
	background: rgba(0,0,0,0);
}

.radio label.detail-strong-input {
    font-size: 1em;
    font-weight: 700;
}

.radio label.detail-strong-input span {
    margin-top: -4px;
}

.radio.radio-inline.radio-align {
    margin-top: 10px;
}

div.error {
    color: #a94442;
}

.footer-right {
	text-align: right; 
}
