#!/usr/bin/lua 

local juci = require("juci/core"); 
local fs = require("fs"); 
require("ubus"); 
local json = require("juci/json"); 

local conn = ubus.connect(); 

function is_service(service)
	local files = fs.readdirSync("/etc/init.d/");
	for _,file in ipairs(files) do
		if(file == service)
		then
			return true
		end	
	end		
	return false
end

function service_list()
	local files = fs.readdirSync("/etc/init.d/");
	local rcdfiles = fs.readdirSync("/etc/rc.d/"); 
	local svcs = conn:call("service", "list", {});
	local services = {}; 
	local enabled = {}; 

	for _,file in ipairs(rcdfiles) do 
		if(file:sub(1,1) == "S") then 
			enabled[string.sub(file, 4, file:len())] = tonumber(file:sub(2,3)); 
		end
	end
	for _,file in ipairs(files) do
		local svc = {
			running = false, 
			enabled = false
		}; 
		local s = svcs[file]; 
		
		svc.start_priority = enabled[file]; 
		svc.enabled = enabled[file] ~= nil; 
		svc.running = s ~= nil; 		
		svc.name = file; 
		
		table.insert(services, svc); 
	end
	print(json.encode({services = services})); 
end

function service_start(service)
	if(is_service(service.name))
	then
		juci.shell("/etc/init.d/%s start", service.name);
	end
	print('{}');
end 

function service_stop(service)
	if(is_service(service.name))
	then
		juci.shell("/etc/init.d/%s stop", service.name);
	end
	print('{}');
end 

function service_enable(service)
	if(is_service(service.name))
	then
		juci.shell("/etc/init.d/%s enable", service.name);
	end
	print('{}');
end

function service_disable(service)
	if(is_service(service.name))
	then
		juci.shell("/etc/init.d/%s disable", service.name);
	end
	print('{}');

end

function service_reload(service)
	if(is_service(service.name))
	then
		juci.shell("/etc/init.d/%s reload", service.name);
	end
	print('{}');
end

function service_status(service)
	--TODO fix this
	print({});
end

juci.ubus({
	["list"] = service_list,
	["start"] = service_start,
	["stop"] = service_stop, 
	["enable"] = service_enable, 
	["disable"] = service_disable, 
	["reload"] = service_reload, 
	["status"] = service_status
}, arg); 
