<div class="navbar-default top-navbar" >
	<div class="container" style="min-height: 70px">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only" translate>Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/#!overview">
				<div class="logo"></div>
			</a>
		</div>
		<button style="margin-top: 20px; float: right; margin-left: 10px;" class="btn btn-default visible-md visible-lg" ng-click="onLogout()"><i class="fa fa-sign-out"></i></button>
		<div style="margin-top: 20px; float: right; margin-left: 10px;" class="dropdown" uib-dropdown is-open="status.isopen">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="badge badge-primary">{{log_events.length}}</span>
		 	</button>
		 	<div class="dropdown-menu pull-right" role="menu" style="width: 300px; max-height: 400px; overflow-y: scroll;">
				<div class="col-xs-12" ng-show="log_events.length == 0">
					<div class="" translate>No new events to show</div>
				</div>
				<div class="col-xs-12" ng-repeat="ev in log_events">
					<div style="font-size: 10px; padding: 2px; background-color: #eee; margin-bottom: 2px;">
						{{ev.data.message}}	
					</div>
				</div>
			</div>
		</div>
		<div style="float: right; margin-top: 20px; " class="visible-md visible-lg"> 
			<juci-mode-picker></juci-mode-picker>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav" auto-active>
				<li class="dropdown" ng-repeat="item in tree.children_list track by $index">
					<a href="#!{{item.path}}" role="button" >{{item.text | translate}} </a>
				</li>
			</ul>
		</div>
	</div>
</div>
