<juci-layout-naked>
	<juci-navbar></juci-navbar>
	<div ng-controller="OverviewPageCtrl">
		<div class="overview-banner">
			<div class="container">
				<div class="row" style="padding-top: 20px;">
					<div class="col-sm-3 pull-right overview-status-box">
						<div class="row" ng-repeat="widget in overviewStatusWidgets">
							<div dynamic="widget"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-sm-4 overview-box" ng-repeat="widget in overviewWidgets">
				<div dynamic="widget"/>
			</div>
		</div>
	</div>
</juci-layout-naked>
