<juci-layout-naked>
	<div ng-controller="OverviewPageCtrl">
		<div class="overview-banner">
			<div class="container">
				<div class="row" style="padding-top: 20px;">
					<div class="col-sm-3 pull-right overview-status-box">
						<div class="row" ng-repeat="row in statusBoxItems">
							<div class="col-sm-2">
								<i class="fa {{row.icon}}"/>
							</div>
							<div class="col-sm-8" style="font-family: 'inteno'; padding-left: 0px; ">{{row.label}}</div>
							<div class="col-sm-2" style="text-align: right;">
								<i class="fa fa-circle"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-sm-4 overview-box" ng-repeat="widget in widgets">
				<div dynamic="widget"/>
			</div>
		</div>
	</div>
</juci-layout-naked>
