@font-face {
	font-family: 'juci-icons';
	src:url('/fonts/juci-icons.eot?5vw8je');
	src:url('/fonts/juci-icons.eot?5vw8je#iefix') format('embedded-opentype'),
		url('/fonts/juci-icons.ttf?5vw8je') format('truetype'),
		url('/fonts/juci-icons.woff?5vw8je') format('woff'),
		url('/fonts/juci-icons.svg?5vw8je#juci-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.juci {
	font-family: 'juci-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.juci-network:before {
	content: "\e900";
}
.juci-usb:before {
	content: "\e901";
}

