<juci-layout-with-sidebar>
	<div ng-controller="InternetParentalControlPage">
		<h2 translate>Parental Control</h2>
		<p translate>internet.parental.control.info</p>
		<juci-config-section>
			<h2 translate>URL Blocking Function</h2>
			<juci-config-lines>
				<juci-config-line title="{{'URL Blocking'|translate}}">
					<switch ng-model="firewall.urlblock.enabled.value" class="green"></switch>
				</juci-config-line>
			</juci-config-lines>
			<div class="row">
				<div class="col-sm-4">
					<div class="row" ng-repeat="r in urlList track by $index">
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="r.url" placeholder="{{'URL'|translate}}"/>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-default" ng-click="onDeleteURL(r.url)"><i class="fa fa-trash-o"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10"/>
						<div class="col-sm-2">
							<button class="btn btn-default" ng-click="onAddURL()"><i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row" ng-repeat="r in macList track by $index">
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="r.mac" placeholder="{{'URL'|translate}}"/>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-default" ng-click="onDeleteMAC(r.mac)"><i class="fa fa-trash-o"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10">
							<juci-select ng-model="selectedMAC" ng-items="connectedHosts" placeholder="{{'Select Existing Host'|translate}}" on-change="onSelectExistingMAC($value)"/>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-default" ng-click="onAddMAC()"><i class="fa fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
		</juci-config-section>
		<juci-config-section>
			<h2 translate>Internet Access Scheduling</h2>
			<table class="table">
				<thead>
					<th translate>Weekdays</th>
					<th translate>Start Time</th>
					<th translate>Stop Time</th>
					<th translate>MAC Addresses</th>
					<th></th>
				</thead>
				<tbody >
					<tr ng-repeat="r in accessRules">
						<td>{{r.weekdays.value}}</td>
						<td>{{r.start_time.value}}</td>
						<td>{{r.stop_time.value}}</td>
						<td><ul><li ng-repeat="mac in r.src_mac.value">{{mac}}</li></ul></td>
						<td style="width: 1%"><button class="btn btn-default" ng-click="onDeleteAccessRule(r)"><i class="fa fa-trash-o"></i></button></td>
					</tr>
					<tr>
						<td colspan="3"></td>
						<td style="width: 1%"><button class="btn btn-default" ng-click="onAddAccessRule()"><i class="fa fa-plus"></i></button></td>
					</tr>
				</tbody>
			</table>
		</juci-config-section>
		<juci-config-apply></juci-config-apply>
		<modal title="Add / Edit MAC Filter Scheduling" ng-show="rule" on-accept="onAcceptEdit()" on-dismiss="onCancelEdit()" dismiss-label="Cancel" accept-label="Save">
			<uci-firewall-nat-rule-edit ng-model="rule"></uci-firewall-nat-rule-edit>
			<div class="alert alert-danger" ng-show="errors && errors.length"><ul><li ng-repeat="e in errors track by $index">{{e|translate}}</li></ul></div>
		</modal>
	</div>
</juci-layout-with-sidebar>
