<luci-layout-with-sidebar>
	<div ng-controller="InternetPortMappingPageCtrl">
		<h2 translate>Port Mapping</h2>
		<p translate>Port mapping allows remote computers to connect to a specific device within your private network.</p>
		<!--<div class="panel panel-default" ng-show="rule">
			<div class="panel-heading">
				<h3 class="panel-title">{{rule[".name"]}}</h3>
			</div>
			<div class="panel-body">
				<uci-firewall-nat-rule-edit ng-model="rule"></uci-firewall-nat-rule-edit>
			</div>
			<div class="panel-footer">
				<luci-config-apply ></luci-config-apply>
			</div>
		</div>-->
		<luci-config-section ng-show="redirects">
			<table class="table">
				<thead>
					<th translate>Local IP</th>
					<th translate>Protocol</th>
					<th translate>Local port</th>
					<th translate>Public Port</th>
					<th></th>
					<th></th>
				</thead>
				<tbody >
					<tr ng-repeat="r in redirects">
						<td>{{ r.dest_ip.value }}</td>
						<td>{{ r.proto.value }}</td>
						<td>{{ r.dest_port.value }}</td>
						<td>{{ r.src_dport.value }}</td>
						<td style="width: 1%"><button class="btn btn-default" ng-click="onEditRule(r)" ><i class="fa fa-pencil" style="{{editColor}}"></i></button></td>
						<td style="width: 1%"><button class="btn btn-default" ng-click="onDeleteRule(r)"><i class="fa fa-trash-o"></i></button></td>
					</tr>
					<tr>
						<td colspan="5"></td>
						<td style="width: 1%"><button class="btn btn-default" ng-click="onAddRule()"><i class="fa fa-plus"></i></button></td>
					</tr>
				</tbody>
			</table>
		</luci-config-section>
		<luci-config-apply></luci-config-apply>
		<modal title="Add / Edit Port Mapping" ng-show="rule" on-accept="onAcceptEdit()" on-dismiss="onCancelEdit()" dismiss-label="Cancel" accept-label="Save">
			<uci-firewall-nat-rule-edit ng-model="rule"></uci-firewall-nat-rule-edit>
			<div class="alert alert-danger" ng-show="errors && errors.length"><ul><li ng-repeat="e in errors track by $index">{{e|translate}}</li></ul></div>
		</modal>
	</div>
</luci-layout-with-sidebar>
