<div>
	<juci-config-lines>
		<juci-config-line title="{{'Name'|translate}}">
			<input type="text" class="form-control" ng-model="device.name.value"/>
		</juci-config-line>
		<juci-config-line title="{{'Base Device'|translate}}">
			<juci-select ng-model="device.ifname.value" ng-items="baseDevices"/>
		</juci-config-line>
		<juci-config-line title="{{'ID'|translate}}">
			<input type="text" class="form-control" ng-model="device_id"/>
		</juci-config-line>
		<juci-config-line title="{{'802.1q'}}">
			<input type="text" class="form-control" ng-model="device.vlan8021q.value"/>
		</juci-config-line>
		<juci-config-line title="{{'802.1p'}}">
			<input type="text" class="form-control" ng-model="device.vlan8021p.value"/>
		</juci-config-line>
	</juci-config-lines>
</div>
