<juci-config-apply-pane></juci-config-apply-pane>
<div style="width: 100%; height: 400px; background: #d6d6d6;
background: -moz-linear-gradient(top, #d6d6d6 0%, #f9f9f9 27%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(27%,#f9f9f9), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top, #d6d6d6 0%,#f9f9f9 27%,#ffffff 100%);
background: -o-linear-gradient(top, #d6d6d6 0%,#f9f9f9 27%,#ffffff 100%);
background: -ms-linear-gradient(top, #d6d6d6 0%,#f9f9f9 27%,#ffffff 100%);
background: linear-gradient(to bottom, #d6d6d6 0%,#f9f9f9 27%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );; margin-bottom: 0px !important; ">
	<div class="container footer" style=" padding-top: 40px; padding-bottom: 80px; ">
		<div class="row">
			<div class="col-sm-6 col-xs-12 form-group">
				<span ng-repeat="lang in languages">
					<a style="text-decoration:
					{{isActiveLanguage(lang)?'underline':'none'}}; color:
					inherit;" href="" ng-click="setLanguage(lang)"><img
					ng-src="/img/lang/{{lang.short_code}}.gif"/> {{lang.title|translate}}</a>{{$last
					? '' : ' | '}} </span>
			</div>
			<div class="col-sm-6 col-xs-12 form-group footer-right" >
				<div class="row">{{firmware}}</div>
				<span ng-repeat="i in wanifs track by $index">
					<div class="row" ng-show="i['ipv4-address'].length > 0 || i['ipv6-address'].length > 0"><span translate>WAN IP Address</span>: 
						<span ng-show="i['ipv4-address'][0] != undefined">IPv4: {{i["ipv4-address"][0].address}}</span>
						<span ng-show="i['ipv6-address'][0] != undefined">IPv6: {{i["ipv6-address"][0].address}}</span>
					</div>
				</span>
				<div class="row" ng-show="i['ipv4-address'].length == 0 && i['ipv6-address'].length == 0" translate>No WAN IP</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="float:right;">
					<button class="btn btn-default btn-sm" ng-click="onLogout()" translate>Logout</button>
				</div>
				<center style="margin-top: 250px;">Powered by <a
					href="https://github.com/mkschreder/juci"><img style="height:
					30px; margin-bottom:10px; margin-left: 5px; "
					ng-src="/img/juci.png"/></strong>
				</center>
				<!--<juci-theme-picker></juci-theme-picker>-->
			</div>
		</div>
	</div>
</div>
