.radio-info input[type="radio"] {
	cursor: pointer; 
}

.radio-info input[type="radio"] + label::after {
	background-color: #A8B400;
}
.radio-info input[type="radio"]:checked + label::before {
	border-color: #808080;
}
.radio-info input[type="radio"]:checked + label::after {
	background-color: #A8B400;
}

