@font-face {
    font-family: "vodafont";
    src: url("/themes/vodafone/fonts/vodafonelt-webfont.woff") format('woff');
}

body {
	font-size: 16px;
	font-family: "Arial","Helvetica" !important; 
}

h1, h2, h3, h4, h5, .navbar-nav {
	font-family: "vodafont" !important;
}

.top-bar { 
	margin-bottom: 20px; 
	background-color: #EBEBEB;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px; 
}

.top-bar { 
	margin-bottom: 20px; 
	background-color: #EBEBEB;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px; 
}

.navbar-default {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
	padding: 9px !important; 
}

/*** fill entire nav **/
.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}


@media screen and ( min-width: 768px ){
	.navbar .nav li {
		display: table-cell;
		width: 16.666666667%;
		float: none;
	}
	
	.navbar .nav li a, .navbar .nav .open > a:hover {
		font-weight: bold;
		text-align: center;
		border-left: 1px solid rgba(250, 250, 250, .75);
		border-right: 1px solid rgba(0, 0, 0, .1);
	}
	
	
}

@media screen and ( max-width: 768px ){
	
}

.navbar .nav li:first-child a {
	border-left: 0;
 /*border-radius: 3px 0 0 3px;*/
}

.navbar .nav li:last-child a {
	border-right: 0;
	/*border-radius: 0 3px 3px 0;*/
}
/*******/

.navbar .nav {
	font-size: 1.3em; 
	font-weight: bold; 
}

div.logo {
	background-image: url('/themes/vodafone/img/vf-logo.png'); 
	background-size: 100%; 
	height: 32px; 
	width: 32px; 
}

#rhombus-wrap {
	float: left;
	margin-left: -80px;
	margin-right: 20px;
	margin-top: -35px;
	position: relative;
	width: 60px;
	z-index: 10;
}
#logo {
	background: scroll;
	background-color: transparent;
	background-image: url("/themes/vodafone/img/vf-logo.png");
	background-origin: padding-box;
	background-position: 0 30px;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	height: 90px;
	position: absolute;
	width: 60px;
	z-index: 5;
}
#rhombus {
	background-color: #e60000;
	height: 40px;
	left: -9969px;
	position: absolute;
	top: 41px;
	width: 9999px;
	z-index: -1;
}
#rhombus:before {
	border-color: transparent transparent #e60000 transparent;
	border-style: none inset solid none;
	border-width: medium 9999px 9999px medium;
	content: " ";
	height: 0;
	left: 25px;
	overflow: hidden;
	position: absolute;
	top: -9996px;
	width: 0;
}
#rhombus:after {
	border-right: 9999px inset transparent;
	border-top: 9999px solid #e60000;
	content: " ";
	height: 0;
	left: 24px;
	overflow: hidden;
	position: absolute;
	top: 36px;
	width: 0;
	z-index: 1;
}

.luci-nav a {
	color: #444; 
}
.nav > li.open > a {
	color: #ee0000 !important; 
}
.navbar .nav > li.open > a {
	color: #fff !important; 
}

h1, h2 {
	color: #e00 !important; 
}

.footer {
	margin-top: 100px; 
}

@media screen and ( min-width: 600px ){
	.dynheight {
		min-height: 768px; 
	}
}

@media screen and ( max-width: 600px ){
	.footer {
		margin-top: 100px;  
	}
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #a8b400;
    border-color: #808080;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio-info input[type="radio"] + label::after {
    background-color: #a8b400;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #808080;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #a8b400;
}

.switch {
    background-color: #808080;
    border-color: #808080;
}

.switch.checked {
    background: #a8b400;
    border-color: #a8b400;
}

.wifi-enabled {
    color: #a8b400;
}

.top-bar .box-model {
    font-size: 26px;
    padding-top: 15px;
    font-family: 'vodafont';
}

.top-bar .outer-select {
    float: right;
    padding-top: 10px;
}

.top-bar .inner-select {
    width: 200px;
    margin-top: 5px;
}

.top-bar .inner-select .btn {
    font-size: 16px;
}

.top-bar .inner-select .dropdown-menu {
    font-size: 16px;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: #777 !important;
}

